.hero {
    background-image: url('../Assets/1.jpg'); 
    background-size: cover;
    background-position: center;
    height: 500px; 
    align-items: center;
    padding: 0 20px;
    height: 90vh;
  }
  
  .hero-content {
    max-width: 50%;
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-left: 5%
  }
  
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
    color:#27477D;
    font-weight: bold;
    
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  button{
    background-color: #27477D; 
    color: #fff; 
    font-size: 16px;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #fcfdfe;
    color: #27477D; 
  }
  